.article-index{
  text-align: center;
  line-height: 60px;
  width:92%;
  height:60px;
  margin:30px 50px;
  background-color: white;
  border-radius: 25px;
  h3{
    font-size: 23px
  }
}

#article{
  height:100%;
  width:100%;
  background-color:white;
  border-raddius:10px;
}

.check_box{
  font-size:20px;
  padding-right:15px;
}
